.Slider{
    &__Box{
        position:relative;
        margin:auto;
        
        &__Item{
            display: none;

            img{
                border-radius: 10px;
                height: 395px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top:10px ;
            }

        }
    }
}