.Slider{
    &__Box{
        position:relative;
        margin:auto;
        
        &__Item{
            display: none;

            img{
                border-radius: 10px;
                height: 395px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top:10px ;
            }

        }
    }
}

.Novedades{
    

    &__BoxTitulo{
        width: 100%;
        border-top:1px solid #DEDEDE;
        border-bottom: 1px solid #DEDEDE;
        font-size: 5px;
        color:#454142;
    }

    &__BoxLibro{
        display:flex;
        justify-content: center;
        align-items: center;

        &__Img{
            
            img{

            }
        }

        &__Titulo{

        }

        &__Autor{

        }

        &__BoxCategoria{

            a{

            }
        }
    }
}


.Autores{
    &__Box{
        &__Img{

        }
        &__Autor{

        }
    }
}