.Login{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__Form{
        width:40%;

        &__Datos{
            
            font-weight: bold;
            margin-bottom: 3%;

            &__Box{
                height: 45px;
                width: 100%;
                background-color:#444444;
                color:#fff;
            }
        }

        &__Check{
            display: flex;

            &__CheckBox{
                margin-top: 18px;
            }
        }

        &__Enlace{
           display: flex;

            &__Registro{
                color:#B5C78B;
                margin-top: 1em;
            }
        }

        &__Boton{
            float: right;

            &__Enviar{
                width: 180px;
                height: 50px;
                background-color: #444444;
                color: #B5C78B;
                font-weight: bold;
                pointer-events: all;
            }
        }
    }
}