.ShopCart__Texto{
    width: 100%;
    height: 15%;
    margin-left: 3%;
    font-size: 40px;
    color: #454142;
}
.ShopCart{
    display: flex;
    margin-bottom: 5%;
    margin-left: 5%;
    &__Box{
        width: 75%;
        display: flex;
        flex-direction: column;

        &__Item{
            display: flex;
            width: 100%;
            color: #454142;
            margin-bottom: 2%;
            &__Foto{
                width: 20%;
                img{
                    width: 80%;
                }
            }
            &__Info{
                width: 80%;
                .Titulo{
                    font-size: 25px;
                }

                .Autor{
                    font-size: 18px;
                }

                .Cantidad{
                    margin-bottom: 2%;
                }

                .Precio{
                    font-size: 18px;
                }
                .Eliminar{
                    
                    &__Boton{
                        background-color: #454142;
                        color: #B5C78B;
                        font-weight: bold;  
                    }
                }
            }
        }
    }

    
    &__Total{
        width: 20%;
        height: 200px;
        background-color: #B5C78B;

        &__Texto{
            font-size: 35px;
            color: #454142;
            margin-left: 10%;
            margin-top: 10%;
        }
        &__Limpiar{
            margin-left: 5%;
            
            &__Boton{
                background-color: #454142;
                color: #B5C78B;
                height: 30px;
                width: 75%;
                margin-left: 8%;
                margin-top: 10%;
            }
        }
    }
}