.Footer {
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 25%;
  background-color: #454142;
}
.Footer__Box {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.Footer__Box__Logo {
  width: 12%;
  margin-top: 10px;
}
.Footer__Box__Contact {
  width: 25%;
  margin: 1%;
  color: #B5C78B;
}
.Footer__Box__Contact a:link, .Footer__Box__Contact a:visited, .Footer__Box__Contact a:active {
  text-decoration: none;
  color: #B5C78B;
}
.Footer__Box__RRSS {
  color: #B5C78B;
}
.Footer__Box__RRSS .RRSS_BoxIcon .BoxIcon__Icon {
  width: 50%;
  height: 30px;
}
.Footer__Box__RRSS .RRSS_BoxIcon .BoxIcon__Icon img, .Footer__Box__RRSS .RRSS_BoxIcon .BoxIcon__Icon svg {
  width: 5%;
}
.Footer__Copyright {
  height: 10%;
  text-align: center;
  color: #B5C78B;
}
