.Slider__Box {
  position: relative;
  margin: auto;
}
.Slider__Box__Item {
  display: none;
}
.Slider__Box__Item img {
  border-radius: 10px;
  height: 395px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
