.Slider__Box {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.Slider__Box__Item {
  display: none;
}
.Slider__Box__Item img {
  border-radius: 10px;
  max-width: 100%;
  height: 300px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
