.Slider__Box {
  position: relative;
  margin: auto;
}
.Slider__Box__Item {
  display: none;
}
.Slider__Box__Item img {
  border-radius: 10px;
  height: 395px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.Novedades__BoxTitulo {
  width: 100%;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  font-size: 5px;
  color: #454142;
}
.Novedades__BoxLibro {
  display: flex;
  justify-content: center;
  align-items: center;
}
