.ShopCart__Texto {
  width: 100%;
  height: 15%;
  margin-left: 3%;
  font-size: 40px;
  color: #454142;
}

.ShopCart {
  display: flex;
  margin-bottom: 5%;
  margin-left: 5%;
}
.ShopCart__Box {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.ShopCart__Box__Item {
  display: flex;
  width: 100%;
  color: #454142;
  margin-bottom: 2%;
}
.ShopCart__Box__Item__Foto {
  width: 20%;
}
.ShopCart__Box__Item__Foto img {
  width: 80%;
}
.ShopCart__Box__Item__Info {
  width: 80%;
}
.ShopCart__Box__Item__Info .Titulo {
  font-size: 25px;
}
.ShopCart__Box__Item__Info .Autor {
  font-size: 18px;
}
.ShopCart__Box__Item__Info .Cantidad {
  margin-bottom: 2%;
}
.ShopCart__Box__Item__Info .Precio {
  font-size: 18px;
}
.ShopCart__Box__Item__Info .Eliminar__Boton {
  background-color: #454142;
  color: #B5C78B;
  font-weight: bold;
}
.ShopCart__Total {
  width: 20%;
  height: 200px;
  background-color: #B5C78B;
}
.ShopCart__Total__Texto {
  font-size: 35px;
  color: #454142;
  margin-left: 10%;
  margin-top: 10%;
}
.ShopCart__Total__Limpiar {
  margin-left: 5%;
}
.ShopCart__Total__Limpiar__Boton {
  background-color: #454142;
  color: #B5C78B;
  height: 30px;
  width: 75%;
  margin-left: 8%;
  margin-top: 10%;
}
